@font-face {
	font-family: 'Bergamasco Light';
	src: url(/fonts/ofont.ru_Bergamasco);
	font-weight: normal;
}
body {
	font-family: 'Bergamasco Light';
	margin: 0;
	padding: 0;
	background: #755d9a;
	background: -webkit-linear-gradient(to left, #9966cc, #926eae, #755d9a);
	background: linear-gradient(to left, #9966cc, #926eae, #755d9a);
	min-width: 360px;
	max-width: 1200px;
	margin: 0 auto;
}
.search-container {
	margin: 20px;
}
.search-res {
	font-family: 'Bergamasco Light';
}
.search-input {
	font-family: 'Bergamasco Light';
	padding: 10px;
	margin-right: 10px;
	width: calc(50% - 15px);
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search-button {
	font-family: 'Bergamasco Light';
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.results-container {
	margin: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
