@font-face {
	font-family: 'Bergamasco Light';
	src: url(/fonts/ofont.ru_Bergamasco);
	font-weight: normal;
}
body {
	background: rgba(153, 102, 204, 1);
	background: -moz-linear-gradient(
		top,
		rgba(153, 102, 204, 1) 0%,
		rgba(146, 110, 174, 1) 53%,
		rgba(117, 93, 154, 1) 100%
	);
	background: -webkit-gradient(
		left top,
		left bottom,
		color-stop(0%, rgba(153, 102, 204, 1)),
		color-stop(53%, rgba(146, 110, 174, 1)),
		color-stop(100%, rgba(117, 93, 154, 1))
	);
	background: -webkit-linear-gradient(
		top,
		rgba(153, 102, 204, 1) 0%,
		rgba(146, 110, 174, 1) 53%,
		rgba(117, 93, 154, 1) 100%
	);
	background: -o-linear-gradient(
		top,
		rgba(153, 102, 204, 1) 0%,
		rgba(146, 110, 174, 1) 53%,
		rgba(117, 93, 154, 1) 100%
	);
	background: -ms-linear-gradient(
		top,
		rgba(153, 102, 204, 1) 0%,
		rgba(146, 110, 174, 1) 53%,
		rgba(117, 93, 154, 1) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(153, 102, 204, 1) 0%,
		rgba(146, 110, 174, 1) 53%,
		rgba(117, 93, 154, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9966cc', endColorstr='#755d9a', GradientType=0 );
}
.search-container {
	margin: 20px;
}
.search-res {
	font-family: 'Bergamasco Light';
}
.search-input {
	font-family: 'Bergamasco Light';
	padding: 10px;
	margin-right: 10px;
	width: calc(50% - 15px);
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search-button {
	font-family: 'Bergamasco Light';
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.results-container {
	margin: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
